.App {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  width: 55%;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonsPanel{
  display: flex;
  justify-content: space-between;
}

.article{
  background-color: antiquewhite;
  border-radius: 10px;
}

.buttons{
 display: flex;
 justify-content: space-evenly;

}
